body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/dominik-schroder-FIKD9t5_5zQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
